
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Components
// 01_atom
@import "01_atom/choice-btn";
@import "01_atom/responsive-img";
// 05_pages
@import "05_page/landing";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: pink;
}

h1 {
    color: red;
}
