
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
// 01_atom
@import "01_atom/choice-btn";
// 02_molecule
@import "02_molecule/step";
// 03_organisms
@import "03_organism/benefits";
@import "03_organism/description";
@import "03_organism/footer";
@import "03_organism/nav-line";
// 05_pages
@import "05_page/landing";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: pink;
}

h1 {
    color: red;
}

.input-row {
    margin-bottom: 5px;
    input {
        width: 100%;
    }
}
